/* ------------------------------ CSS Página de Agradecimento ------------------------------- */

.green-bar{
    background-color: #00ee92;
    height: 2px;
    margin-top: 35px;
}
.titulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.subtitulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    color: #00ee92;
    text-transform: uppercase; 
}
.collective-title{
    visibility: hidden;
}

/* ------------------------------ CSS Página de Agradecimento ------------------------------- */