/*
Theme Name: ID Collective Child
Theme URI:  http://collective.stonedthemes.com/
Description: A child theme of Collective Theme for Impacting Digital Website
Author: ImpactingDigital
Author URI: http://impacting.digital/
Version: 1.0
Template: collective
*/

/*⁄---------- Ajustes no menu mobile ----------*/

@media (max-width: 1024px){
    body header > div.responsive-header .responsive-menu ul.sub-menu {
    display: block;
    }
}
/*⁄---------- Ajustes no menu desktop ----------*/
.header-v2 .menu > li > a:hover{
    color:#00ee92;
    text-decoration: none;
}
.header-v2 .menu > li > a{
    text-decoration: none;
}
ul#menu-impacting-digital li ul.sub-menu li a{
    padding:10px 0;
    transition:all .1s ease;
}
ul#menu-impacting-digital li ul.sub-menu li a:hover{
    color:#00ee92;
    text-decoration: none;
}
.header-v2 ul.menu > li > a:after{
    display:none;
}
/*---------- Texts ----------*/
.main a:hover{
    color:#00ee92;
}
.destaque-texto{
    background-color: #00ee92;
    color: #fff;
    padding-left:20px;
    padding-right:20px;
}
/*---------- Hashtag ----------*/
.hashtag{
    font-weight: bold;
    color:#4515f9;
}
.hashtag .hash{
    font-size:1.2em;
}

/*---------- Logo ----------*/
.header-container .logo-container .logo img{
    width:50px;
}

/*---------- Custom ID buttons ----------*/
.button{
    color: #fff;
    border: 0;
    line-height: 1.2em;
    font-size:.9em;
    box-shadow:none;
    transition:transform .2s ease, box-shadow .4s ease;
    padding:15px;
}
.button.blue, a.button.blue {
    background-color: #4515f9;
    color:#fff;
}
.button.violet, .button.violet {
    background: #322b9b;
    background: -moz-linear-gradient(45deg, #322b9b 0%, #522b96 100%);
    background: -webkit-linear-gradient(45deg, #322b9b 0%,#522b96 100%);
    background: linear-gradient(45deg, #322b9b 0%,#522b96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322b9b', endColorstr='#522b96',GradientType=1 );
    }
.button.green, a.button.green {
    background-color: #00ee92;
    color:#fff;
}

.button.green:hover {
    box-shadow:0 5px 2px -3px rgba(10, 50, 30, 0.2), 0 4px 10px rgba(6, 80, 40, 0.1);
    color:#fff;
}
.button.violet:hover, .button.blue:hover {
    box-shadow:0 2px 4px -4px rgba(66, 34, 219, 0.4), 0 4px 20px rgba(66, 34, 219, 0.4);
}
.button.violet:hover,.button.blue:hover,
.button.green:hover{
    transform:scale(1.1);
    color:#fff;
}
.button.violet:active,.button.blue:active,
.button.green:active{
    transform:scale(.99);
    box-shadow:0 0 0 rgba(0,0,0,0);
    background-color:#3F3F4E;
}


/*---------- Background gradient ----------*/
.bg-gradient{
    background: #322b9b;
    background: -moz-linear-gradient(45deg, #322b9b 0%, #522b96 100%);
    background: -webkit-linear-gradient(45deg, #322b9b 0%,#522b96 100%);
    background: linear-gradient(45deg, #322b9b 0%,#522b96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322b9b', endColorstr='#522b96',GradientType=1 );
    color:#fff;
}
.bg-gradient p,.bg-gradient h1, .bg-gradient h2,.bg-gradient h3 {
    color:#fff;
}
.bg-lightgrey{
    background-color:#f1f2f3;
}
/*---------- Page title blocks ----------*/
.page-title-block{
    max-width:1280px;
    margin:0 auto;
    padding:100px 20px 100px;
}
.page-title-block .page-title{
    text-align: right;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom:10px;
}
.page-title-block .page-title::after{
    content:" ";
    display:block;
    margin:30px 0 10px auto;
    background-color:#00ee92;
    width:100px;
    height:6px;
 
}
.page-title-block .page-description{
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 600px;
    margin: 10px 0 0 auto;
    max-width:500px;
}
@media screen and (min-width:640px){
    .page-title-block .page-title{
        font-size: 60px;
        margin-bottom:20px;
    }
    .page-title-block .page-description{
        font-size: 38px;
    }
}
/*---------- Image Text blocks ----------*/
.wpb_content_element{
    margin-bottom:0;
}
.block-image-text{
    position:relative;
    overflow:hidden;
    text-align:center;
    color:#fff;
    padding:40px 20px;
}
.block-image-text img{
    position:absolute;
    width:auto;
    height:100%;
    max-width:none;
    z-index:-1;
    right:0;
    top:0;
}
@media screen and (min-width: 420px){
    .block-image-text img{
        height:auto;
    }
}
@media screen and (min-width: 640px){
    .block-image-text{
        color:inherit;
        padding: 0;
        text-align:left;
        overflow:initial;
        margin-top:60px;
        margin-bottom:60px;
    }
    .block-image-text::after{
        content: "";
        display: block;
        clear: both;
    }
    .block-image-text .text-block{
        padding:10px 20px;
        width:50%;
        float:left;
    }

    .block-image-text img{
        position:relative;
        width:40%;
        margin-top:20px;
    }
    .block-image-text.img-right img{
        float:right;
        margin-left:5%;
    }
    .block-image-text.img-left img{
        float:left;
        margin-right:5%;
    }
    .block-image-text.img-right .text-block{
        float:right;
        text-align: right;
    }
    .block-image-text.img-left .text-block{
        float:left;
        text-align: left;
    }
    .block-image-text .text-block::after{
        content:'';
        display:block;
        position:absolute;
        background-color:#00ee92;
        top:0;
        z-index:-2;
        width:250px;
        height:150px;
        transition: all .6s ease;
    }
    .block-image-text.img-right .text-block::after{
        left:58%;
        right:auto;
    }
    .block-image-text.img-left .text-block::after{
        right:58%;
        left:auto;
    }
    .block-image-text:hover .text-block::after{
        top:10px;
        margin-left:-10px;
        margin-right:-10px
    }
}
@media screen and (min-width: 640px){
    .block-image-text .text-block{
        margin-top:5%;
    }
}

.menu-footer{
    list-style: none;
}
.menu-footer li{
    padding:15px 0;
}



/*---------- Blog itens ----------*/

.blog-item .overlay-container:hover .overlay{
    background-color: rgba(0, 238, 146, 0.85);
    left:0;
    right:0;
}