.client-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.client-gallery img{
    width: 80px;
    height: 80px;
    opacity: .3;
    margin: 0 5px;
}
.client-gallery img:hover{
    opacity:.8;
}
@media screen and (min-width:640px){
    .client-gallery img{
        width:140px;
        height:140px;
        margin:0 15px;
    }
}

/*---------- fotos equipa ----------*/
.team-member .pic-f{
    
}
.team-member-pic{
    position:relative;
    max-width:400px;
    margin:0 auto;
}
.team-member-pic .pic-closed{
    z-index: 9;
    width:100%;
}
.team-member-pic .pic-open{
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    width:100%;
    height:100%;
    transition:opacity .2s ease;
}
.team-member:hover .pic-open{
    opacity: 1;
}
.team-member .description p{
    font-size: .8em;
}
.team-member .description .hashtag{
    font-weight: bold;
    color:#4515f9;
}
.hashtag .hash{
    color:
}
