.client-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.client-gallery img{
    width: 80px;
    height: 80px;
    opacity: .3;
    margin: 0 5px;
}
.client-gallery img:hover{
    opacity:.8;
}
@media screen and (min-width:640px){
    .client-gallery img{
        width:140px;
        height:140px;
        margin:0 15px;
    }
}

/*---------- fotos equipa ----------*/

.team-gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member{
    width:135px;
    margin:5px;
    background-color:#fff;
    position:relative;
    transition-delay: .5s;
    transition:background-color .2s ease;
}
.team-member:hover{
    background-color:#000;
    color:#fff;
}
.team-member:hover p,
.team-member:hover h3{
        color:#fff;
}
.team-member-pic{
    width:135px;
    height:auto;
    position:relative;
}
.team-member-pic .pic-closed{
    z-index: 9;
    width:100%;
    filter:grayscale(1);
}
.team-member-pic .pic-open{
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    width:100%;
    height:100%;
    transition:opacity .2s ease;
}
.team-member:hover .pic-open{
    opacity: 1;
}
.team-member .description .name{
    font-weight: 500;
    position: absolute;
    top: 5px;
    left:10px;
    z-index: 12;
    color: #fff;
}

.team-member .description .bio{
    max-height:0;
    overflow: hidden;
    transition: all .2s ease;
    transition-delay: .4s;
    font-size: .7em;
    line-height: 1.2em;
    opacity:0;
    color:#fff;
}
.team-member:hover .description .bio{
    max-height:400px;
    padding:15px;
    opacity:1;
    color:#fff;
    transition-delay: .2s;
}

.team-member .description .hashtag{
    font-weight: 400;
    color:transparent;
    text-align:right;
    font-size: .8em;
    position:absolute;
    top:105px;
    right:5px;
    z-index: 11;
}
.team-member:hover .description .hashtag .hash{
    font-size:1.8em;
    color:#00ee92;
    text-shadow: none;
}
.team-member:hover .description .hashtag{
    color:#fff;
    text-shadow: 0 4px 15px rgba(0,0,0,.6);
}

@media screen and (min-width:640px){
    .team-member, .team-member-pic{
        width:192px;
    }
    .team-member .description .hashtag{
        top:150px;
        font-size: 1em;
    }
    .team-member .description .name{
        font-size: 1.2em;
    }
}
@media screen and (min-width:1024px){
    .team-member {
        margin:5px 30px;
    }
    .team-member .description .bio{
        max-height: none;
        padding:15px;
    }
    .team-member, .team-member-pic{
        width:220px;
    }
    .team-member .description .hashtag{
        top:180px;
    }
    .team-member .description .name{
        font-size: 1.4em;
    }
}
/*---------- Pilares ----------*/
.nossos-pilares div{
    background-color:rgba(0, 238, 146, 0.50);
    color:#fff;
    padding:15px 20px 15px 50px;
    margin:5px 5px 0 0;
    position:relative;
    
}
.nossos-pilares{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nossos-pilares .hashtag .hash{
    position:absolute;
    left:5px;
    top:12px;
    opacity: .2;
    font-size: 3em;
}