html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;  
}
#gestao_hover, #marketing_hover, #ti_hover, #comunicacao_hover {
   opacity: 0;
   transition: all 700ms;  
}
path{
    transition: all 700ms;
}
path:hover{
    cursor: pointer;
}
path:hover ~ #Colaboradores{
    transform: scale(1);
}
#gestao_hover:hover{
    opacity: 1;
}
#marketing_hover:hover{
    opacity: 1;
}
#ti_hover:hover{
    opacity: 1;
}
#comunicacao_hover:hover{
    opacity: 1;
}
#gestao_div:hover{
    opacity: 0;
}
#Colaboradores{
    transform-origin: center;
    transform: scale(0.9);
    transition: all 700ms;
    pointer-events: none;
}
text{
    pointer-events: none;
}
.click-me img{
    right: 7px;
    position: absolute;
    width: 16%;
    transform: rotate(20deg);
}
.wrapper{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}
.roda-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    transition: all 0.5s ease;
}
.roda-overlay .container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: center;
    border-radius: 0;
}
.roda-overlay h3 {
    margin-top: 0px;
    font-family: Montserrat;
    font-size: 1.1rem;
    color: #2CEB82;
    text-shadow: 0 5px 15px white;
}
.roda-overlay p {
    color: #757575;
   font-family: Montserrat;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: left;
}

@media (min-width:530px) {
    .roda-overlay h3 {
    font-size: 2rem;

}
    .roda-overlay p {
    font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: left;
}
}
.roda-overlay button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/*Classes de controlo do overlay*/
.scale-up {
    transform: scale(1);
    transform-origin: center;
    display: block;
}
.appear{
    display: block !important;
}

/*
torna todas o conteudo invisivel para quando for acionada a class appear n aparecerem todos
ao mesmo tempo
*/
.container #gestao-content,#marketing-content,#ti-content,#comunicacao-content {
    display: none;
}
