path:hover{
    cursor: pointer;
}
polygon{
    transition: all 700ms;
}
polygon:hover{
    fill: #00F277;
    cursor: pointer;
}

polygon#Fill-19, polygon#Fill-20, polygon#Fill-23, polygon#Fill-21{
    pointer-events: none;
}
path{
    pointer-events: none;
}

.wrapper{
    position: relative;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.click-me img{
    right: 5px;
    position: absolute;
    width: 18%;
}

.roda-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(247, 247, 247, 0.6);

    transform: scale(0);
    transition: all 0.5s ease;
}
.roda-overlay .container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    border-radius: 0;
}
.roda-overlay h3 {
    font-family: Montserrat;
    font-size: 1.5rem;
    color: #2CEB82;
    text-shadow: 0 5px 15px white;
}
.roda-overlay p {
    color: #757575;
   font-family: Montserrat;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

@media (min-width:450px) {
    .roda-overlay h3 {
    font-size: 2rem;

}
    .roda-overlay p {
    font-size: 1.2rem;
}
}
.roda-overlay button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/*Classes de controlo do overlay*/
.scale-up {
    transform: scale(1);
    transform-origin: center;
    display: block;
}
.appear{
    display: block !important;
}

/*
torna todas o conteudo invisivel para quando for acionada a class appear n aparecerem todos
ao mesmo tempo
*/
.container #estrategia-content,#modelo-content,#automacao-content,#plataforma-content,
#processos-content,#angariacao-content,#enriquecimento-content,
#relacionamento-content,#venda-content{
    display: none;
}
