/* ---------------------------------- CSS Página Soluções de Negócio  ----------------------------------  */

.green-bar{
    background-color: #00ee92;
    height: 2px;
    margin-top: 35px;
}
.titulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.subtitulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    color: #00ee92;
    text-transform: uppercase; 
}
.titulo-numero{
    font-size: 90px;
    color: #00ee92;
    font-weight: bold;
    margin-top: 28px;
}
.links-anchors input[type="radio"]{
    display:none;
}
.links-anchors label{
    color: black;
    cursor: pointer;
    width: 100%;
}
.links-anchors label:hover{
    color: black;
}
.links-anchors label a{
    
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
}
.links-anchors label a:hover{
    text-decoration: none;
}
.links-anchors label a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
.button-sol{
    padding: 5px;
    border: 2px solid #00ee92;
    background-color: transparent;
    transition: 500ms ease, 500ms ease;
}
.button-sol:hover{
    background-color: #00ee92;
    box-shadow:0 2px 4px -4px rgba(60, 180, 120, 0.4), 0 4px 10px rgba(60, 180, 120, 0.5);
}
.square-list{
    list-style: none;
}
.square-list.white{
    color: white;
    list-style: none;
}

.square-list li:before{
    content: "■ " ;
    color: #00ee92;
}
.link-grey{
    transition: 500ms ease, 500ms ease;
    color: #999999;
    text-decoration: none;
}
.link-grey:hover{
    color: #00ee92;
    text-decoration: none;
}
.link-grey:visited{
    text-decoration: none;
}
.final-form{
    color: white;
}
.final-form input{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    width: 100%;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;

}
.final-form input:focus{
    border-bottom: 2px solid #00F277;
}

.final-form .selectpicker{
    -webkit-appearance: none;
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 0px 0px 0px 0px;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;    
}

.final-form .selectpicker:focus{
   outline-style: none;
   border: 2px solid #00F277;
}

input.invalid{
    border-bottom: 2px solid #f25d00;
}

/* ---------------------------------- CSS Página Soluções de Negócio  ----------------------------------  */

