body, html{
    height: 100%;
}

/* Hero-Image Begin */
.hero-image{
    
    background-image: url("fotos/home/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
.hero-text{
    
    background-image: url("fotos/home/label.png");
    background-size: cover;
    position: absolute;
    width: 200px;
    height: 27px;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%,-50%);
}
/* Hero-Image End */

/* Hero-Image-Pages Begin */
.hero-image-pages{

    position: relative;
    height: 100%;
}
.hero-image-pages-second{

    position: relative;
    height: 350px;

}
.hero-green-box{
    
    position: absolute;
    background-color: #00F277;
    bottom: 20%;
    padding-left: 60px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.hero-green-box-fit{
    
    position: relative;
    background-color: #00F277;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 15px;
    display: inline-block;
}
.hero-box-titles{
    position: relative;

}
.hero-green-text{
    
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    min-height: 1px;
}
.hero-text-pages-second{
    
    position: absolute;
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    min-height: 1px;
    bottom: 37%;
    padding-left: 60px;
    
}
.hero-text-pages{

    font-family: Montserrat, Arial, sans-serif;
    color: white;
    position: absolute;
    bottom: 16%;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.metodologia{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/metodologia/hero-image-metod-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.metodologia-second{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/metodologia/hero-image-metod-second-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ciclo-projeto{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/ciclo_projeto/hero-image-cprojeto-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ciclo-projeto-second{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/ciclo_projeto/hero-image-cprojeto-second-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carreiras{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/carreiras/hero-image-carreiras-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carreiras-second{
   
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url("fotos/carreiras/hero-image-carreiras-second-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.solucoes-negocio{
    
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)),
                url("fotos/solucoes-negocio/hero-image-solucoes-negocio-lg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Hero-Image-Pages End */

/* Style of text vertically aligned */
.center-aligned-text-wrapper{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.center-aligned-titles-wrapper{
    margin-top: 100px;
    text-align: center;

}
.text-titles-h1{
    font-family: Montserrat, Arial, sans-serif;
    color: #373747;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text-titles-h2{
    font-family: Montserrat, Arial, sans-serif;
    color: #373747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text-titles-h3{
    font-family: Montserrat, Arial, sans-serif;
    color: #373747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text-titles-h4{
    font-family: Montserrat, Arial, sans-serif;
    color: #373747;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text-big-titles{
    font-family: Montserrat, Arial, sans-serif;
    color: #373747;
    font-size: 70px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
}
.body-text{
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    color: #646478;
    font-size: 13px;
    line-height: 20px;
}
.body-text-left{
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    color: #646478;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.grey-text{
    color: #afafb5;
}
.iniciar-projeto{
    width: 133px;
    height: 40px;
    background-color: #4221DB;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;

    border: none;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4), 0 5px 15px rgba(0,0,0,0.22);
}
.bloco-offset-direito{
    font-family: Montserrat, Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
}
/* End of Style of text vertically aligned */

/* Style of Image Banner */
.image-banner{
    height: 287px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 234px;
}
.banner-text .text-titles-h3{
    color: #fff;
}
.banner-text .iniciar-projeto{
    background-color: #00F277;
    margin-top: 5px;
}

#banner1{background-image: url("fotos/home/home_banner1.jpg");  }
#banner2{background-image: url("fotos/home/home_banner2.jpg");  }
/* End of Style of Image Banner */

/* Style of Article Thumbnail */
.articles-thumbnails-wrapper .center-aligned-text-wrapper{
    margin-bottom: 10px;
}
.article-thumbnail{
    height: 145px;
    position: relative;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
}
.article-thumbnail-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 233px;

    text-align: center;
}
.article-thumbnail-text p{
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#article1{background-image: url("fotos/home/article1.jpg")}
#article2{background-image: url("fotos/home/article2.jpg")}
#article3{background-image: url("fotos/home/article3.jpg")}

.footer{
    
    height: 300px;
}
.footer-mb{
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 70px;
}
.footer-logo{
    background-image: url("fotos/footer/logo-!D-footer-mb.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 25px;
    height: 25px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.redes-sociais{
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.links{
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #afafb5;
    text-decoration: none;
}
.links-mail{
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #4221DB;
    text-decoration: none;
}
.search{
    align-content: center;
}
.arrow-down {
    position: relative;
    width: 0; 
    height: 0;
    bottom: -17px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #00F277;

}
.blocos-oportunidades{
    margin-bottom: 50px;   
}

/* ---------------------------------- Multi Step Form  ----------------------------------  */

.multi-step-form{
    height: 100vh;
    position: relative;
}

.text-titles-h2-form{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 600;
}

.text-subtitle-form{
    color: rgba(255, 255, 255, 0.6);
}

.inline-tab1{
    display: inline-block;
}
    
.text-form{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.text-form-green{
    color: #00F277;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.text-form-white{
    color: white;
}

.multi-step-form input[type="radio"]{
    display:none;
}
    
.multi-step-form label{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;        
}
    
.multi-step-form label:hover{
    color: rgba(255, 255, 255, 1);
}
    .arrow-back{

        height: 100%
        left: 0;
    }
    
    .arrow-next{

        height: 100%;
        right: 0;
    }

    .multi-step-form .tab-bar{
    padding-bottom: 80px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    
}

.multi-step-form .tab{
    height:100vh;
}
.multi-step-form .step-bar{
    position: absolute;
    bottom: 0;   
    height: 40px;
    width:70%;
    left:15%;
    z-index: 10;
}
.steps-wizard {
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}
.current-step.s1 {
    color: white;
}
.current-step.s2 {
    color: white;
}
.current-step.s3 {
    color: white;
}
.current-step.s4 {
    color: white;
}
.s1{

    font-family: Montserrat, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 500;
    text-align: left; 
}
.s2{

    font-family: Montserrat, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 500;
    text-align: center; 
}

.s3{

    font-family: Montserrat, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 500;
    text-align: center; 
}
.s4{

    font-family: Montserrat, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 500;
    text-align: right; 
}

.step1 {
    height: 3px;
    width: 2%;
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
}
.step2 {
    height: 3px;
    width: 33%;
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
}
.step3 {
    height: 3px;
    width: 67%;
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
}
.step4 {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
}   
/*
@media screen and (max-width:250px) {
    
}
*/



.form-buttons{
    margin-top: 40px;  
}

.form-buttons-green{
    width: 150px;
    margin: 5px 15px 5px 15px;
    border: 0px;
    padding: 5px 35px 5px 35px;
    background-color: #00F277;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4), 0 5px 15px rgba(0,0,0,0.4);
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;
}

.form-buttons-green:hover{
    background-color: #00d368;
}
.form-buttons-green:focus{
    outline-style: none;
}

.form-buttons-voltar{
    width: 150px;
    margin: 5px 15px 5px 15px;
    padding: 5px 35px 5px 35px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4), 0 5px 15px rgba(0,0,0,0.4);
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;
}

.form-buttons-voltar:hover{
    border: 1px solid #00F277;
}
.form-buttons-voltar:focus{
    outline-style: none;
}

.final-form{
    color: white;
}

.final-form input{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    width: 100%;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;

}

.final-form input:focus{
    border-bottom: 1px solid #00F277;
}

.final-form .selectpicker{
    -webkit-appearance: none;
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 0px 0px 0px 0px;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;    
}

.final-form .selectpicker:focus{
   outline-style: none;
   border: 1px solid #00F277;
}

input.invalid{
    border-bottom: 1px solid #f25d00;
}

/* ---------------------------------- Multi Step Form  ----------------------------------  */

