/* ---------------------------------- CSS Página Soluções de Negócio  ----------------------------------  */

.green-bar{
    background-color: #00ee92;
    height: 2px;
    margin-top: 35px;
}
.titulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.subtitulo-header{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    color: #00ee92;
    text-transform: uppercase; 
}
.titulo-numero{
    font-size: 90px;
    color: #00ee92;
    font-weight: bold;
    margin-top: 28px;
}
.links-anchors{
    cursor: pointer;
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 500ms ease, 500ms ease;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid #00ee92;
    background-color: transparent;
    text-align: left;
}
.links-anchors:hover{
    color: black;
    background-color: #00ee92;
    text-decoration: none;
}
.links-anchors:visited{
    background-color: #00ee92;
}
.square-list{
    list-style: none;
}
.square-list.white{
    color: white;
    list-style: none;
}

.square-list li:before{
    content: "■ " ;
    color: #00ee92;
}
.link-grey{
    transition: 500ms ease, 500ms ease;
    color: #999999;
    text-decoration: none;
}
.link-grey:hover{
    color: #00ee92;
    text-decoration: none;
}
.link-grey:visited{
    text-decoration: none;
}

/* ---------------------------------- CSS Página Soluções de Negócio  ----------------------------------  */
/* ------------------------------ CSS Página Soluções de Negócio / Form  -------------------------------  */

.final-form{
    color: white;
}
.final-form input{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;

}
.final-form input:focus{
    border-bottom: 2px solid #00ee92;
}
.final-form .selectpicker{
    display: inline-block;
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 0px 0px 0px 0px;
    transition: 500ms ease, 500ms ease;
    -webkit-transition: 500ms ease, 500ms ease;
    -moz-transition: 500ms ease, 500ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.final-form .selectpicker:focus{
   outline-style: none;
   border: 2px solid #00ee92;
}

/* ------------------------------ CSS Página Soluções de Negócio / Form  -------------------------------  */



